.navbar-light .navbar-nav .nav-link {
  color:white;
  text-decoration: none;
}
.multi-column-dropdown{
  padding:3px;
  text-align:center;
  text-decoration: none;
  
}
.menus{
  text-decoration:none;
  
}